@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.fade-in-animation {
  animation: fade-in 300ms ease;
}

.fade-out-animation {
  animation: fade-out 300ms ease;
}
