@import "tailwindcss";

:root {
  --color-white: #f8f8f8;
  --color-black: #171717;
}

input:focus {
  outline: none;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-color-white {
  background-color: var(--color-white);
}

.bg-color-black {
  background-color: var(--color-black);
}